---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag: string) => {
    tag = tag + "";
    const filteredPosts = allPosts.filter((post) => {
      const tags = post.data.tags || [];
      return tags.includes(tag);
    });
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout>
  <div class="sc-ly">
    <p>包含「{tag}」标签的文章</p>
    {
      posts.map((post) => (
        <ul px my>
          <li class="list-initial" >
            <a hover="decoration-underline" href={`/posts/${post.slug}/`}>{post.data.title}</a>
          </li>
        </ul>
      ))
    }
  </div>
</BaseLayout>
