---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const getPosts = await getCollection("posts");
  const allPosts = getPosts.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
  return paginate(allPosts, { pageSize: 3 });
}

const { page }: { page: any } = Astro.props;
---

<BaseLayout>
  <PostList allposts={page.data} />
  <nav class="w-100% sc-flex gap-4">
    {
      (
        <>
          <a class="custom-class custom-h" id="prePage" href={page.url.prev}>
            <Icon name="mdi:menu-left" size={40} />
          </a>
          <span class="custom-class">{page.currentPage}</span>
          <a class="custom-class custom-h" id="nexPage" href={page.url.next}>
            <Icon name="mdi:menu-right" size={40} />
          </a>
        </>
      )
    }
  </nav>
</BaseLayout>

<style>
  .custom-class {
    --at-apply: "sc-flex sc-card  w-12 h-12 color-primary dark:color-second text-5 border-rd-4 transition-all-0.3s";
  }
  .custom-h{
    --at-apply: "hover:bg-primary hover:color-card"
  }
</style>
