---
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostList from "@/components/PostList.astro";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const getPosts = await getCollection("posts");
  const allPosts = getPosts.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );
  return paginate(allPosts, { pageSize: 3 });
}

const { page }: { page: any } = Astro.props;
---

<BaseLayout>
  <PostList allposts={page.data} />
  <nav>
    {
      (
        <>
          <a id="prePage" href={page.url.prev}>
            <Icon name="mdi:menu-left" size={40} />
          </a>
          <span>{page.currentPage}</span>
          <a id="nexPage" href={page.url.next}>
            <Icon name="mdi:menu-right" size={40} />
          </a>
        </>
      )
    }
  </nav>
</BaseLayout>

<style lang="scss">
  nav {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    a,
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      background-color: var(--card-bg);
      color: var(--blue);
      font-size: 1.2rem;
      border-radius: 1rem;
      transition: all 0.3s;
    }

    a:hover {
      background-color: var(--blue);
      color: var(--card-bg);
    }
  }
</style>
