---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="sc-ly">
    <h1>About</h1>
    <a href="https://github.com/yikafu">Click to Something about me</a>
    <img ma src="https://avatars.githubusercontent.com/u/98627904" alt="" />
  </div>
</BaseLayout>
