---
import AppTheme from "./AppTheme.astro";
import AppSearch from "./AppSearch.astro";
import { navConfig, siteConfig } from "@/config.ts";
---

<header>
  <div class="rules-flex rules-card h-20 px-1 py-0 b-rd-b-4">
    <div class="rules-flex p-x text-5 fw-bold">
      <a href="/">
        <span>{siteConfig.title}</span>
      </a>
    </div>
    <div class="rules-flex flex-auto">
      {
        navConfig.map((item) => (
          <a
            class="rules-flex rules-ts fw-bold gap-2 py-2 px-4"
            un-text="5 decoration-none"
            href={item.url}
          >
            <span>{item.name}</span>
          </a>
        ))
      }
    </div>
    <div class="rules-flex">
      <AppSearch />
      <AppTheme />
    </div>
  </div>
</header>
