---
import { Icon } from "astro-icon/components";
---

<div class="sc-flex h-8 b-rd-4">
  <input
    class="h-100% w-220px text-0.9rem p-x b-r-0 bg-#f4f4f4"
    text="#111"
    border="~ r-0 #666 rd-tl-4 rd-bl-4"
    type="text"
    name="q"
    placeholder="Search..."
    value=""
  />
  <button
    class="sc-flex h-100% w-10 bg-#f4f4f4"
    text="#111"
    border="~ l-0 #666 rd-tr-4 rd-br-4"
    type="submit"
  >
    <Icon name="mdi:search" size={20} />
  </button>
</div>
