---
import { Icon } from "astro-icon/components";
---

<div class="search">
  <input type="text" name="q" placeholder="Search..." value="" />
  <button type="submit"><Icon name="mdi:search" size={20}/></button>
</div>

<style lang="scss">
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border-radius: 1rem;
  }
  input {
    height: 100%;
    width: 220px;
    font-size: 16px;
    padding: 0 1rem;
    background-color: #f4f4f4;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--border-color);
    border-right: none;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2.5rem;
    background-color: #f4f4f4;
    border: 1px solid var(--border-color);
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
</style>
