---
const { allposts } = Astro.props;
---

<div>
  {
    allposts.map((post: any) => (
      <a href={`/posts/${post.slug}`}>
        <div class="rules-card h-36 p-8 m-b b-rd-4" hover="shadow-xl">
          <div class="m-0 text-6 fw-700">{post.data.title}</div>
          <div class="mt-4 text-0.9rem">
            <span>{`创建于：${post.data.date}`}</span>
          </div>
        </div>
      </a>
    ))
  }
</div>
