---
import "@assets/markdown.css";
import BaseLayout from "@layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
const { title, tags, date } = frontmatter;
---

<BaseLayout>
  <div class="sc-ly">
    <div p="x-8 y-4">
      <div class="text-9 fw-600 mb-2">{title}</div>
      <div class="mb-12">
        <span>Written by {date}</span>
        <div class="flex">
          <span class="mr-2">tags:</span>
          {
            tags ? (
              tags.map((tag: string) => <span class="mr-2 b-solid">{"#" + tag}</span>)
            ) : (
              <span class="mr-2">------</span>
            )
          }
        </div>
      </div>
      <slot />
    </div>
  </div>
</BaseLayout>
